# Enter primary database's URL
# Drizzle ORM automatically detects schema differences and migrate it.
DATABASE_URL=postgresql://user:password@host:port/dbname

# Enter which domain user connect from
# This must be exactly equivalent to user's "Origin" request header
# Ex: http://mail.example.com:1234
ORIGIN=""

# Enter auth secret for Better Auth
# For production use 32 characters and generated with high entropy
# https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=""
